.AppLogo {
  display: inline-block;
  position: relative;
  padding: 0.1em 0.25em;
  line-height: 1em;
  letter-spacing: 0.05em;
  /* background-color: rgba(255, 255, 255, 1); */
}

.AppLogo::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  background-color: #000;
  transform: skew(-7deg, -1.25deg);
}
.AppLogo-title {
  position: relative;
  color: #fff;
  font-family: "East Sea Dokdo", sans-serif;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0;
}